/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Poppins-Regular';
  src: url("./../../font/Poppins-Regular.eot");
  src: url("./../../font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Regular.woff2") format("woff2"), url("./../../font/Poppins-Regular.woff") format("woff"), url("./../../font/Poppins-Regular.ttf") format("truetype"), url("./../../font/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("./../../font/Poppins-ExtraBold.eot");
  src: url("./../../font/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-ExtraBold.woff2") format("woff2"), url("./../../font/Poppins-ExtraBold.woff") format("woff"), url("./../../font/Poppins-ExtraBold.ttf") format("truetype"), url("./../../font/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Medium';
  src: url("./../../font/Poppins-Medium.eot");
  src: url("./../../font/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Medium.woff2") format("woff2"), url("./../../font/Poppins-Medium.woff") format("woff"), url("./../../font/Poppins-Medium.ttf") format("truetype"), url("./../../font/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("./../../font/Poppins-Bold.eot");
  src: url("./../../font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Bold.woff2") format("woff2"), url("./../../font/Poppins-Bold.woff") format("woff"), url("./../../font/Poppins-Bold.ttf") format("truetype"), url("./../../font/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Semibold';
  src: url("./../../font/Poppins-SemiBold.eot");
  src: url("./../../font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-SemiBold.woff2") format("woff2"), url("./../../font/Poppins-SemiBold.woff") format("woff"), url("./../../font/Poppins-SemiBold.ttf") format("truetype"), url("./../../font/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

@font-face {
  font-family: 'Poppins-Regular';
  src: url("./../../font/Poppins-Regular.eot");
  src: url("./../../font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Regular.woff2") format("woff2"), url("./../../font/Poppins-Regular.woff") format("woff"), url("./../../font/Poppins-Regular.ttf") format("truetype"), url("./../../font/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("./../../font/Poppins-ExtraBold.eot");
  src: url("./../../font/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-ExtraBold.woff2") format("woff2"), url("./../../font/Poppins-ExtraBold.woff") format("woff"), url("./../../font/Poppins-ExtraBold.ttf") format("truetype"), url("./../../font/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Medium';
  src: url("./../../font/Poppins-Medium.eot");
  src: url("./../../font/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Medium.woff2") format("woff2"), url("./../../font/Poppins-Medium.woff") format("woff"), url("./../../font/Poppins-Medium.ttf") format("truetype"), url("./../../font/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("./../../font/Poppins-Bold.eot");
  src: url("./../../font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-Bold.woff2") format("woff2"), url("./../../font/Poppins-Bold.woff") format("woff"), url("./../../font/Poppins-Bold.ttf") format("truetype"), url("./../../font/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Poppins-Semibold';
  src: url("./../../font/Poppins-SemiBold.eot");
  src: url("./../../font/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../font/Poppins-SemiBold.woff2") format("woff2"), url("./../../font/Poppins-SemiBold.woff") format("woff"), url("./../../font/Poppins-SemiBold.ttf") format("truetype"), url("./../../font/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

header {
  background-image: url(./../../pictures/header.png);
  background-size: cover;
  max-width: 100%; }
  header .navbar {
    display: flex;
    justify-content: space-between; }
  header .navbar-first-headline {
    font-size: 14px;
    color: #FFFFFF;
    padding: 30px 0 0;
    font-family: 'Poppins-Bold'; }
  header .main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 0;
    font-family: 'Poppins-Semibold'; }
  header .navbar-li {
    margin-right: 15px; }
  header a {
    font-size: 12px;
    color: #FFFFFF; }
  header .navbar-li:first-child a:hover {
    color: #5863F8; }

.mini-navbar {
  margin: 160px 0 0;
  padding: 0 0 85px; }
  .mini-navbar .navbar-headline {
    font-size: 42px;
    color: #FFFFFF;
    font-family: 'Poppins-ExtraBold'; }
  .mini-navbar .mini-navbar-li {
    display: flex;
    justify-content: flex-start;
    margin-top: 14px; }
  .mini-navbar .navbar-second-li {
    margin-right: 20px; }
  .mini-navbar .navbar-second-li:first-child {
    border-right: 2px solid #FFFFFF;
    padding: 0 15px 0 0; }
  .mini-navbar a {
    font-size: 14px; }

section {
  margin-top: 90px; }
  section a {
    font-size: 14px;
    color: #5863F8;
    font-family: 'Poppins-Bold'; }
  section .main-headline {
    font-size: 42px;
    color: #000000;
    font-family: 'Poppins-ExtraBold'; }
  section .section-box-row {
    display: flex;
    justify-content: space-between; }
  section .section-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px; }
  section img {
    max-width: 168px;
    width: 100%; }
  section .section-box-content {
    padding: 36px 32px 36px 12px;
    background-color: #F8F8F8; }
  section .section-box-text {
    font-size: 14px;
    color: #5863F8;
    font-family: 'Poppins-Bold'; }
  section .section-box-headline {
    font-size: 18px;
    color: #000000;
    margin: 5px 0 13px 0;
    font-family: 'Poppins-Semibold'; }
  section .section-box-para {
    color: #B1B1B1;
    font-size: 14px;
    max-width: 260px;
    width: 100%;
    font-family: 'Poppins-Medium'; }
  section .arrow-btn {
    width: 60px;
    background-color: #5863F8;
    border-style: none; }
  section .arrow-img {
    max-width: 14px;
    width: 100%; }
  section .booking-section {
    margin-top: 70px;
    background-color: #B1B1B1; }
  section .booking-section-main {
    display: flex;
    justify-content: space-between; }
  section .booking-content {
    display: flex;
    flex-direction: column;
    padding: 53px 0; }
  section label {
    font-size: 13px;
    color: #5863F8;
    font-family: 'Poppins-Medium'; }
  section .booking-fill {
    margin-top: 5px;
    width: 260px;
    height: 60px;
    font-size: 13px;
    color: #CECECE;
    font-family: 'Poppins-Regular'; }
  section .submit-box {
    padding: 71px 0; }
  section .booking-submit {
    width: 260px;
    height: 60px;
    background-color: #5863F8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  section .submit-txt {
    font-size: 13px;
    font-family: 'Poppins-Semibold';
    color: #FFFFFF; }
  section .submit-img {
    max-width: 15px;
    width: 100%;
    margin-left: 9px; }

footer {
  background-color: #000000; }
  footer .footer-content {
    display: flex;
    justify-content: space-between; }
  footer .footer-left-side {
    padding: 83px 0 110px 0; }
  footer .footer-left-headline {
    font-size: 24px;
    font-family: 'Poppins-Bold';
    color: #FFFFFF; }
  footer .footer-left-para {
    max-width: 260px;
    width: 100%;
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    margin: 20px 0; }
  footer .footer-right-side {
    display: flex;
    justify-content: space-between;
    padding: 83px 0 110px 0; }
  footer .first-two-row {
    margin-right: 65px; }
  footer .first-row-headline {
    font-family: 'Poppins-Semibold';
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 0 20px; }
  footer .footer-navbar-li {
    margin-bottom: 20px; }
  footer a {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    color: #5863F8; }
  footer .contact-info-box {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 20px; }
  footer .contact-info-txt {
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins-Medium';
    margin: 0 0 0 17px; }
  footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 0; }
  footer .bottom-txt {
    font-size: 14px;
    font-family: 'Poppins-Medium';
    color: #B1B1B1; }
