// font-size variables 
$fontsize01 : 12px;
$fontsize04 : 13px;
$fontsize02 : 14px;
$fontsize03 : 18px;
$fontsize05 : 24px;
$fontsize06 : 42px;

// color variable 

$color01 : #FFFFFF;
$color02 : #000000;
$color03 : #5863F8;
$color04 : #121212;
$color05 : #F8F8F8;
$color06 : #B1B1B1;
$color07 : #CECECE;

